/* CSS for the webpage */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d37f11;
  }
  
  /* CSS for the container of the logout button */
  .logout-container {
    text-align: center;
  }
  
  /* CSS for the logout button */
  .logout-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* CSS for -hover  cursor in  logout button */
  .logout-button:hover {
    background-color: #2980b9;
  }
  